* {
    padding: 0;
    margin: 0;
}

body {
    color: #1f1f1f;
    background-image: url("./assets/bg.png");
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #ffffff;
    background: #000;
    height: 90px;
}

.line {
    border: 1px solid white;
    height: 40px;
}

.grow-list {
    width: 60vw;
    height: 60px;
    display: flex;
}

.list {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 18px;
}

.list-item {
    margin-left: 40px;
}

button {
    width: 120px;
    height: 40px;
    background-color: rgb(208, 20, 214);
    color: #ffffff;
    margin-right: 20px;
    border-radius: 0.6em;
    font-weight: 500;
}

.hero {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin-top: 100px;
    margin-left: 250px;
    margin-right: 250px;
    color: #ffffff;
}

.hero-heading {
    font-size: 100PX;
}

.hero-description {
    font-size: 35px;
}

.button-large {
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600;
    color: #ffffff;
    margin-top: 20px;
    width: 300px;
    height: 60px;
}